.app-root {
  display: flex;
}

@media (max-width: 35rem) {
  .app-root {
    flex-direction: column-reverse;
  }
}

.controls {
  padding: 1rem;
}

.loading-state {
  padding: 2rem;
  width: 100%;
  font-size: 2rem;
}
